beautifulsoup4==4.4.1
certifi==2022.12.7
chardet==3.0.4
decorator==4.1.2
Django==1.11
django-cors-headers==2.1.0
django-extensions==1.9.1
djangorestframework==3.7.0
djangorestframework-jwt==1.11.0
html5lib==0.999
httpie==0.9.9
idna==2.5
pbr==3.1.1
Pygments==2.2.0
PyJWT==1.5.3
pytz==2014.10
requests==2.18.4
six==1.10.0
SQLAlchemy==1.1.15
sqlalchemy-migrate==0.11.0
sqlparse==0.1.18
Tempita==0.5.2
urllib3==1.22
